.input-largeBox {
	width: 530px;
	height: 200px;
}

.copy-fields, .create-org {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #ddd;
	-webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.form-horizontal .control-group {
	margin-top: 2px;
	margin-bottom: 2px;
}

.proj-view-sidenav.affix {
	top: 40px;
}

.centered-edit {
	margin: 0 auto;
}

.ieError {
	background-color: rgb(242, 222, 222);
}

.alert {
	margin-bottom: 5px;
}