<div style="margin-top: 5px;">
  <div id="welcome" class="container">
    <div class="hero-unit" id="hero-unit">
      <div class="row">
        <div class="span3">
          <h1>DEPTH</h1>
        </div>
        <div class="span6">
          <br/>
        </div>
      </div>
      <div ng-controller="IndexCtrl">
        <!-- <button class="btn ng-class: {active:isActiveRoute('view')}" ng-click="setRoute('view')">View Report</button> -->
        <p>Data Entry for Project Tracking and Highlighting</p>
        <table class="unstyled">
          <tr ng-repeat="link in links">
            <td>
            <button class="btn" ng-click="setRoute(link.route)" style="width: 100%" ng-bind-html-unsafe="link.text"></button>
            </td>
          </tr>
          <tr><td>
            <p><i class="icon-globe"></i> Powered by <a href="https://www.sciencebase.gov/catalog">ScienceBase</a></p>
          </tr></td>
        </table>
        <!--[if lte IE 9]>
        <h2 style="color: rgb(185, 74, 72);">This application has been optimized for use in modern web browsers. Please upgrade Internet Explorer to verison 10 (or higher) or use Chrome, Firefox, Safari, or Opera.</h2>
        <![endif]-->
      </div>
    </div>
  </div>
</div>