<div style="margin-top: 5px;">
  <div id="welcome" class="container">
    <div class="hero-unit" id="hero-unit">
      <div class="row">
        <div class="span3">
          <h1>DEPTH</h1>
        </div>
        <div class="span6">
          <br/>
        </div>
      </div>
      <div ng-show="!projectSet">
        <p>Data Entry for Project Tracking and Highlighting</p>
        <button class="btn" ng-click="setRoute('index/csc')">CSC's and Partners</button>
        <button class="btn" ng-click="setRoute('index/sandy')">Sandy</button>
        <p><i class="icon-globe"></i> Powered by <a href="https://www.sciencebase.gov/catalog">ScienceBase</a></p>
      </div>
      <div ng-show="projectSet === 'csc'">
        <p>Data Entry for Project Tracking and Highlighting</p>
        <table class="unstyled">
          <tr ng-repeat="link in links">
            <td>
            <button class="btn" ng-click="setRoute(link.route)" style="width: 100%" ng-bind-html-unsafe="link.text"></button>
            </td>
          </tr>
          <tr><td>
            <p><i class="icon-globe"></i> Powered by <a href="https://www.sciencebase.gov/catalog">ScienceBase</a></p>
          </tr></td>
        </table>
      </div>
      <div ng-show="projectSet === 'sandy'">
        <p>Data Entry for Project Tracking and Highlighting</p>
        <table class="unstyled">
          <tr ng-repeat="link in setLinks() | filter:index | filter:agendas">
            <td>
            <button class="btn" ng-click="setRoute(link.route)" style="width: 100%" ng-bind-html-unsafe="link.text"></button>
            </td>
          </tr>
          <tr><td>
            <p><i class="icon-globe"></i> Powered by <a href="https://www.sciencebase.gov/catalog">ScienceBase</a></p>
          </tr></td>
        </table>
      </div>
    </div>
  </div>
</div>