<!doctype html>
<html lang="en" ng-app="depth">
<head>
    <title>DEPTH</title>
    <link href="css/standardHeader.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/angular-ui.min.css" rel="stylesheet" />
    <link href="css/select2.css" rel="stylesheet" />
    <link href="css/depth.css" rel="stylesheet" />
    <link href="img/favicon.jpg" rel="shortcut icon" />
</head>
<!-- <body data-spy="scroll" data-target=".proj-view-sidebar"> -->
<body>
<!-- USGS Header -->
  <div id="usgscolorband">
    <div id="usgsbanner">
      <div id="usgsidentifier"><a href="http://www.usgs.gov/">
        <img src="img/usgs/header_graphic_usgsIdentifier_white.jpg"
             alt="USGS - science for a changing world" title="U.S. Geological Survey Home Page"
             width="178" height="72"/></a>
      </div>
      <div id="usgsccsabox">
        <div id="usgsccsa">
          <br><a href="http://www.usgs.gov/">USGS Home</a>
          <br><a href="http://www.usgs.gov/ask/">Contact USGS</a>
          <br><a href="http://www.usgs.gov/search/">Search USGS</a>
        </div>
      </div>
    </div>
  </div>
  <img src="img/usgs/sciencebase_earth.png" class="image-float"/><!-- / usgscolorband -->
  <!-- End USGS Header -->

  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">DEPTH Project Editor</a>
      <ul class="nav" style="float: right;" ng-controller="DepthCtrl">
        <li ng-show="josso_check.user" ><a href="#">{{josso_check.user}}</a></li>
        <li ng-show="!josso_check.user"><a href="/depth/josso-auth/josso-login.php">Login</a></li>
        <li ng-show="josso_check.user"><a id="logout" href="">Log Out</a></li>
      </ul>
    </div>
  </div><!-- /navbar -->


  <div style="margin-top: 5px;">
    <div id="welcome" class="container">
      <div class="hero-unit" id="hero-unit">
        <div class="row">
          <div class="span3">
            <h1>DEPTH</h1>
          </div>
          <div class="span6">
            <br/>
          </div>
        </div>
        <div ng-controller="DepthCtrl">
          <!-- <button class="btn ng-class: {active:isActiveRoute('view')}" ng-click="setRoute('view')">View Report</button> -->
          <p>Data Entry for Project Tracking and Highlighting</p>
          <table class="unstyled">
            <tr><td>
              <button class="btn" ng-click="setRoute('view')" style="width: 100%"><i class="icon-search"></i> View Projects</button><br/>
            </tr></td>
            <tr><td>
              <button class="btn" ng-click="setRoute('edit')" style="width: 100%"><i class="icon-pencil"></i> Edit Projects</button><br/>
            </tr></td>
            <tr><td>
              <button class="btn" ng-click="setRoute('edit')" style="width: 100%"><i class="icon-plus"></i> Create Project</button><br/>
            </tr></td>
            <tr><td>
              <button class="btn" ng-click="setRoute('agendas')" style="width: 100%"><i class="icon-leaf"></i> Edit Agendas</button><br/>
            </tr></td>
            <tr><td>
              <button class="btn" ng-click="setRoute('docs')" style="width: 100%"><i class="icon-book"></i> Documentation</button><br/>
            </tr></td>
            <tr><td>
              <p><i class="icon-globe"></i> Powered by <a href="https://www.sciencebase.gov/catalog">ScienceBase</a></p>
            </tr></td>
          </table>
          <!--[if lte IE 9]>
          <h2 style="color: rgb(185, 74, 72);">This application has been optimized for use in modern web browsers. Please upgrade Internet Explorer to verison 10 (or higher) or use Chrome, Firefox, Safari, or Opera.</h2>
          <![endif]-->
        </div>
      </div>
    </div>
  </div>



  <div ng-view></div>

  <!-- USGS Footer -->
  <div style="margin-top: 50px; font-size: 93%; background:#ccc; border-bottom:1px solid #333; border-top:1px solid #333; padding: 0.2em;">
      <a href="http://www.usgs.gov/accessibility.html" target="_blank" title="Accessibility Policy (Section 508)">Accessibility</a>
      <span style="margin:0 1em">|</span>
      <a href="http://www.usgs.gov/foia/" target="_blank" title="Freedom of Information Act">FOIA</a>
      <span style="margin:0 1em">|</span>
      <a href="http://www.usgs.gov/privacy.html" target="_blank" title="Privacy policies of the U.S. Geological Survey.">Privacy</a>
      <span style="margin:0 1em">|</span>
      <a href="http://www.usgs.gov/policies_notices.html" target="_blank" title="Policies and notices that govern information posted on USGS Web sites.">Policies and Notices</a>
  </div>
  <a href="http://www.takepride.gov/"><img src="img/usgs/footer_graphic_takePride.jpg" alt="Take Pride in America logo" title="Take Pride in America Home Page" style="width:60; height:58; float: right; border: none; margin-right: 5px; padding-top: 0.2em" /></a>
  <a href="http://usa.gov/"><img src="img/usgs/footer_graphic_usagov.jpg" alt="USA.gov logo" title="USAGov: Government Made Easy" style="width:90; height:26; float: right; border: none; margin-right: 5px; padding-top: 0.2em" /></a>
  <a href="http://www.doi.gov/" target="_blank" style="padding: 0.2em">U.S. Department of the Interior</a>
  <span style="margin:0 1em">|</span>
  <a href="http://www.usgs.gov/" target="_blank" style="padding: 0.2em">U.S. Geological Survey</a><br/>
  <span style="padding: 0.2em">URL: <script type="text/javascript" language="javascript">document.write(location.href)</script></span><br/>
  <span style="padding: 0.2em">Page Contact Information: <a href="mailto:sciencebase@usgs.gov">sciencebase@usgs.gov</a></span><br/>
  <span style="padding: 0.2em">Depth Version: 1.0 <span style="color:#bbbbbb;">(2013/03/26)</span></span>
  <br/>
  <!-- /usgs footer -->
  <!-- End USGS Footer -->

  <!-- Javascript (down here so the page loads faster) -->
  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-cookies.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.2.0.min.js"></script>
  <script src="js/angular-ui.min.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/sbRest.js"></script>
  <script src="js/affixDirective.js"></script>
  <script src="js/depth.js"></script>
  <script src="js/depthFilters.js"></script>
  <script src="js/depthServices.js"></script>
  <script src="js/agendaCtrl.js"></script>
  <script src="js/agnes.js"></script>
  <script src="https://my.usgs.gov/scripts/analytics/usgs-analytics.js"></script>
  <script>
    var logoutUrl = "https://my.usgs.gov/josso/signon/logout.do?josso_back_to=";
    logoutUrl += location.href;
    $('#logout').attr('href', logoutUrl);
  </script>

  <!--[if lte IE 9 ]>
  <script>
    document.getElementById("hero-unit").className += " ieError";
  </script>
  <![endif]-->

</body>
</html>
