<div class="container-fluid">
  <div class="row-fluid">

    <!-- Sidebar -->
    <div class="span4 proj-view-sidebar">

      <legend>Filter</legend>

      <ul class="proj-view-sidenav unstyled" id="sort-fields" data-spy="affix" data-offset-top="200">
      <!-- <div id="sort-fields" class="nav" style="" data-spy="affix" data-offset-top="200"> -->
        <!-- Organization Type -->
        <li>
          <label class="control-label" for="orgType">Organization Types</label>
          <div class="controls">
            <!-- <select id="orgType" ng-model="orgType" ng-options="orgType as orgType.title for orgType in orgTypes" class="span12" placeholder="organization type" multiple="multiple"> -->
            <select ui-select2 multiple ui-options="{multiple: true}" style="width: 100%;" ng-model="filter.orgTypes" ng-options="orgType as orgType.title for orgType in orgTypes" data-placeholder="organization type">
              <!-- <option ng-repeat="orgType in orgTypes" value="{{orgType}}">{{orgType.title}}</option> -->
              <option></option>
            </select>
          </div>
        </li>
        <!-- Organization -->
        <li>
          <label class="control-label" for="organization">Organizations ({{(organizations | filterOrgs:{orgTypes: filter.orgTypes}).length}})</label>
          <div class="controls">
            <select ui-select2 multiple ui-options="{multiple: true}" id="organization" placeholder="org" style="width: 100%;" ng-model="filter.organizations" ng-options="organization as organization.title for organization in organizations | filterOrgs:{orgTypes: filter.orgTypes}">
            </select>
          </div>
        </li>
        <!-- Fiscal Year -->
        <li>
          <div class="control-group">
            <label class="control-label" for="fiscalYear">Fiscal Years</label>
            <div class="controls">
              <select ui-select2 multiple ui-options="{multiple: true}" id="fiscalYear" ng-model="filter.fiscalYears" ng-options="fiscalYear.fy as fiscalYear.fy for fiscalYear in fiscalYears" style="width: 100%;" placeholder="fiscal years">
              </select>
            </div>
          </div>
        </li>
        <!-- Project Type -->
        <li>
          <div class="control-group">
            <label class="control-label" for="projectType">Project Types</label>
            <div class="controls">
              <select ui-select2 multiple ui-options="{multiple: true}" id="projectType" ng-model="filter.projectTypes" ng-options="projType.type as projType.type for projType in projectTypes" style="width: 100%" placeholder="project types">
              </select>
            </div>
          </div>
        </li>
        <!-- PI -->
        <li>
          <div class="control-group">
            <label class="control-label" for="pi">Principal Investigators</label>
            <div class="controls">
              <select ui-select2 multiple ui-options="{multiple: true}" id="pi" ng-model="filter.pis" ng-options="pi as pi.name for pi in allPIs() | orderBy:'name'" style="width: 100%" placeholder="principal investigators">
              </select>
            </div>
          </div>
        </li>
        <!-- keywords -->
        <li>
          <div class="control-group">
            <label class="control-label" for="pi">Keywords</label>
            <div class="controls">
              <select ui-select2 multiple ui-options="{multiple: true}" id="keywords" ng-model="filter.keywords" ng-options="kw as kw.name for kw in allKeywords() | orderBy:'name'" style="width: 100%;" placeholder="keywords">
              </select>
            </div>
          </div>
        </li>
        <!-- project status -->
        <li>
          <div class="control-group">
            <label class="control-label" for="projStatuses">Project Statuses</label>
            <div class="controls">
              <select ui-select2 multiple ui-options="{multiple: true}" id="projStatuses" ng-model="filter.projStatuses" ng-options="status for status in projectStatuses" style="width: 100%;" placeholder="project statuses">
              </select>
            </div>
          </div>
        </li>
        <!-- Project -->
        <li>
          <div class="control-group">
            <label class="control-label" for="project">Projects ({{(allProjects | projectsFilter:{orgTypes: filter.orgTypes, orgs: filter.organizations, fys: filter.fiscalYears, projTypes: filter.projectTypes, pis: filter.pis, kws: filter.keywords, projStatuses: filter.projStatuses}).length}})</label>
            <div class="controls">
              <select ui-select2 multiple ui-options="{multiple: true}" id="project" ng-model="filter.projects" ng-options="proj as proj.title for proj in allProjects | projectsFilter:{orgTypes: filter.orgTypes, orgs: filter.organizations, fys: filter.fiscalYears, projTypes: filter.projectTypes, pis: filter.pis, kws: filter.keywords, projStatuses: filter.projStatuses} | orderBy:'title'" style="width: 100%;" placeholder="project names">
              </select>
            </div>
          </div>
        </li>

        <li>
          <!-- {{allProjects | projectsFilter:{orgTypes: orgType} | orderBy:'title'}} -->
        </li>

      </ul> <!-- /sort-fields -->

    </div> <!-- /sidebar -->
    <div class="span8"> <!-- body -->

      <!-- total funding -->
      <!-- <div id="total" style="position: fixed; right: 0; top: 50%; background: darkgrey; width: 200px;">
        Total Funding: ${{totalFunding()}}
      </div> -->

      <span>{{addRequiredFields()}}</span>
      <br />

      <legend>
        Projects ({{(allProjects | projectsFilter:{orgTypes: filter.orgTypes, orgs: filter.organizations, fys: filter.fiscalYears, projTypes: filter.projectTypes, pis: filter.pis, kws: filter.keywords, projStatuses: filter.projStatuses, projects: filter.projects}).length}}) 
        <button class="btn btn-info" id="show-csv" ng-click="getCsv()">Get CSV</button>
        <a class="btn btn-info" id="download" href="#" style="display: none;">Download</a>
      </legend>
      <!-- total funding -->
      <h4>Total Funding: ${{totalFunding()}}</h4>
      <br />

      <!-- All Projects -->
      <ul class="unstyled">
        <li ng-repeat="proj in allProjects | projectsFilter:{orgTypes: filter.orgTypes, orgs: filter.organizations, fys: filter.fiscalYears, projTypes: filter.projectTypes, pis: filter.pis, kws: filter.keywords, projStatuses: filter.projStatuses, projects: filter.projects} | orderBy:'title'">
          <div style="background-color: #eee;">
            <a href="{{sciencebaseUrl}}/item/{{proj.id}}" target="_blank">{{proj.title}}</a>
          </div>
          <ul class="unstyled" ng-controller="ContactsCtrl">
            <li ng-repeat="pi in proj.contacts | filter:isPrincipalInvestigator">
              PI: {{pi.name}}
            </li>
          </ul>
        </li>
      </ul>


      <button class="btn" onclick="show('csv', true); return false;">Show CSV</button>
      <span class="help-inline">You must click Get CSV above first.</span>
      <pre id="csv" style="display: none;">
        {{csv}}
      </pre>

    </div> <!-- /body -->
  </div>
</div>
