<ul class="unstyled">
  <li ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">{{alert.msg}}
    <button type="button" class="close" ng-click='closeAlert($index)'>&times;</button>
  </li>
</ul>

<div class="container-fluid">
  <div class="row-fluid">

    <div style="text-align: center;">
      <input type="text" ng-model="generalSearch" placeholder="general filter" /> 
      <br />
      <legend>Advanced Filters <button class="btn" onclick="show('advanced-search', true); return false;"><i class="icon-chevron-down"></i></button></legend>
    </div>

    <div id="advanced-search" style="display: none; background-color: #eeeeee; padding: 10px;">
<!--       <pre>filter: {{filter}}</pre>
      <pre>pre: {{prefilter}}</pre>
      <pre>orgTypes: {{filter.orgTypes}}</pre> -->

      <ul class="unstyled" id="sort-fields">
        <!-- Organization Type -->
        <li>
          <label class="control-label" for="orgType">Organization Types</label>
          <div class="controls">
            <select ui-select2 multiple style="width: 100%;" ng-model="prefilter.orgTypes" data-placeholder="choose organization types">
              <option ng-repeat="orgType in orgTypes" value="{{orgType}}">{{orgType.title}}</option>
            </select>
          </div>
        </li>
        <!-- Organization -->
        <li>
          <label class="control-label" for="organization">Organizations ({{(organizations | filterOrgs:{orgTypes: filter.orgTypes}).length}})</label>
          <div class="controls">
            <select ui-select2 multiple id="organization" style="width: 100%;" ng-model="prefilter.organizations" data-placeholder="choose organizations">
              <option ng-repeat="organization in organizations | filterOrgs:{orgTypes: filter.orgTypes} | orderBy:'title'" value="{{organization}}">{{organization.title}}</option>
            </select>
          </div>
        </li>
        <!-- Fiscal Year -->
        <li>
          <div class="control-group">
            <label class="control-label" for="fiscalYear">Fiscal Years</label>
            <div class="controls">
              <select ui-select2 multiple id="fiscalYear" ng-model="filter.fiscalYears" style="width: 100%;" data-placeholder="choose fiscal years">
                <option ng-repeat="fiscalYear in fiscalYears" value="{{fiscalYear.fy}}">{{fiscalYear.fy}}</option>
              </select>
            </div>
          </div>
        </li>
        <!-- Project Type -->
        <li>
          <div class="control-group">
            <label class="control-label" for="projectType">Project Types</label>
            <div class="controls">
              <select ui-select2 multiple id="projectType" ng-model="filter.projectTypes" style="width: 100%" data-placeholder="choose project types">
                <option ng-repeat="projType in projectTypes" value="{{projType.type}}">{{projType.type}}</option>
              </select>
            </div>
          </div>
        </li>
        <!-- PI -->
        <li>
          <div class="control-group">
            <label class="control-label" for="pi">Principal Investigators ({{pis.length}})</label>
            <div class="controls">
              <select ui-select2 multiple id="pi" ng-model="prefilter.pis" style="width: 100%" data-placeholder="choose pis">
                <option ng-repeat="pi in pis | orderBy:'name'" value="{{pi}}">{{pi.name}}</option>
              </select>
            </div>
          </div>
        </li>
        <!-- keywords -->
        <li>
          <div class="control-group">
            <label class="control-label" for="pi">Keywords</label>
            <div class="controls">
              <select ui-select2 multiple id="keywords" ng-model="prefilter.keywords" style="width: 100%;" data-placeholder="choose keywords">
                <option ng-repeat="kw in kws | orderBy:'name'" value="{{kw}}">{{kw.name}}</option>
              </select>
            </div>
          </div>
        </li>
        <!-- project status -->
        <li>
          <div class="control-group">
            <label class="control-label" for="projStatuses">Project Status</label>
            <div class="controls">
              <select ui-select2 multiple id="projStatuses" ng-model="filter.projStatuses" style="width: 100%;" data-placeholder="choose project status">
                <option ng-repeat="status in projectStatuses" value="{{status}}">{{status}}</option>
              </select>
            </div>
          </div>
        </li>
        <!-- Project -->
        <li>
          <div class="control-group">
            <label class="control-label" for="project">Projects ({{(allProjects | projectsFilter:{orgTypes: filter.orgTypes, orgs: filter.organizations, fys: filter.fiscalYears, projTypes: filter.projectTypes, pis: filter.pis, kws: filter.keywords, projStatuses: filter.projStatuses}).length}})</label>
            <div class="controls">
              <select ui-select2 multiple id="project" ng-model="prefilter.projects" style="width: 100%;" data-placeholder="choose project names">
                <option ng-repeat="proj in allProjects | projectsFilter:{orgTypes: filter.orgTypes, orgs: filter.organizations, fys: filter.fiscalYears, projTypes: filter.projectTypes, pis: filter.pis, kws: filter.keywords, projStatuses: filter.projStatuses} | orderBy:'title'" value="{{proj}}">{{proj.title}}</option>
              </select>
            </div>
          </div>
        </li>
      </ul> <!-- /sort-fields -->

      <!-- Agendas -->
      <span ng-show="hasAgendas()">
        <label for="chooseAgenda">Agendas</label>
        <ul class="unstyled" ng-controller="FacetsCtrl">
          <li>
            <select id="chooseAgenda" ng-model="filter.agenda" ng-options="agenda as agenda.name for agenda in agendas">
              <option value="">Choose Agenda</option>
            </select>
            <span ng-show="filter.agenda">
              {{filter.agenda.name}} 
              <a class="btn btn-info" href="{{filter.agenda.url}}" target="_blank">View Agenda</a>
            </span>
          </li>
          <li ng-show="filter.agenda">
            <button class="btn" ng-class="{active: filter.agenda.all}" ng-click="toggleAgenda(filter.agenda, true)">all</button>
            <button class="btn" ng-class="{active: filter.agenda.none}" ng-click="toggleAgenda(filter.agenda, false)">none</button>
          </li>
          <li ng-show="filter.agenda">
            <table>
              <tr>
                <td ng-repeat="question in filter.agenda.themes">
                  <button style="width: 100%;" class="btn" ng-class="{active: question.set}" ng-click="toggleQuestion(question, question.set)">{{question.number}}</button>
                </td>
              </tr>
              <tr>
                <td ng-repeat="question in filter.agenda.themes">
                  <span style="width: auto;" ng-repeat="(theme, value) in question.options | orderBy:'theme' track by $index">
                    <radio-button number="question.number" theme="theme" model="question.options[theme]" width="1"></radio-button>
                  </span>
                </td>
              </tr>
            </table>
          </li>
        </ul>
      </span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">

    <span>{{addRequiredFields()}}</span>
    <br />

    <legend style="text-align: center;">
      Projects ({{(allProjects | projectsFilter:{orgTypes: filter.orgTypes, orgs: filter.organizations, fys: filter.fiscalYears, projTypes: filter.projectTypes, pis: filter.pis, kws: filter.keywords, projStatuses: filter.projStatuses, agenda: filter.agenda, projects: filter.projects} | filter:generalSearch).length}}) 
      <button class="btn btn-info" id="show-csv" ng-click="getCsv()">Get CSV</button>
      <a class="btn btn-info" id="download" href="#" style="display: none;">Download</a>
    </legend>
    
    <br />

    <!-- All Projects -->
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Active Year(s)</th>
          <th>Title</th>
          <th>Principal Investigator(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="proj in allProjects | projectsFilter:{orgTypes: filter.orgTypes, orgs: filter.organizations, fys: filter.fiscalYears, projTypes: filter.projectTypes, pis: filter.pis, kws: filter.keywords, projStatuses: filter.projStatuses, agenda: filter.agenda, projects: filter.projects} | filter:generalSearch | orderBy:'title'">
          <td>
            <!-- {{(proj.dates | filter:"Start")[0].dateString | date:'mediumDate'}} {{((proj.dates | filter:"Start").length > 0 && (proj.dates | filter:"End").length > 0) && "-" || ""}} -->
            <!-- {{(proj.dates | filter:"End")[0].dateString | date:'mediumDate'}} -->
            <b>{{(proj.dates | filter:"Start")[0].dateString | yearOnly}}</b> {{((proj.dates | filter:"Start").length > 0 && (proj.dates | filter:"End").length > 0) && "-" || ""}}
            <b>{{(proj.dates | filter:"End")[0].dateString | yearOnly}}</b>
          </td>
          <td><a href="{{sciencebaseUrl}}/item/{{proj.id}}" target="_blank">{{proj.title}}</a></td>
          <td>
            <ul class="unstyled" ng-controller="ContactsCtrl">
              <li ng-repeat="pi in proj.contacts | filter:isPrincipalInvestigator">
                {{pi.name}}
              </li>
            </ul>
          </td>
      </tbody>
    </table>

    <!-- total funding -->
    <h4 style="text-align: center;">Total Funding: {{totalFunding() | currency}}</h4>
    <br />

    <button class="btn" onclick="show('csv', true); return false;">Show CSV</button>
    <span class="help-inline">You must click Get CSV above first.</span>
    <pre id="csv" style="display: none;">
      {{csv}}
    </pre>

  </div>
</div>

<br />

<button class="btn btn-link offset12" id="show-json" onclick="show('json', true); return false;">Development Information</button>
<div id="json" style="display: none; outline: 1px solid #ccc; padding: 5px; margin: 5px; font-family: Menlo, Monaco, 'Courier New', monospace;">
  <legend>Developer Errors</legend>
  <ul class="unstyled">
    <li ng-repeat="alert in devAlerts" class="alert alert-{{alert.type}}">{{alert.msg}}
      <button type="button" class="close" ng-click='closeAlert($index)'>&times;</button>
    </li>
  </ul>

  <legend>json</legend>
  <pre>{{prettyPrint(json)}}</pre>
</div>
